
{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class="add-margin">
    <h1 class="text-secondary" >
        Scientific datasets
    </h1>
    <div class="list-group">
        <a href="/life_expectancy_data" class="list-group-item list-group-item-action" >Life Expectancy (WHO)</a>
        <a href="#" class="list-group-item list-group-item-actions" >Age of Abalone shells</a>
        <a href="#" class="list-group-item list-group-item-action">Cancer death rate</a>
        <a href="#" class="list-group-item list-group-item-action">Stroke prediction</a>
        <a href="#" class="list-group-item list-group-item-action">Water potability</a>
        <a href="#" class="list-group-item list-group-item-action">Smart grid stability</a>
        <a href="#" class="list-group-item list-group-item-action">Can I eat this mushroom?</a>
    </div>

</div>

<div class="add-margin">
    <h1 class="text-secondary" >
        Market datasets
    </h1>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-actions" >King county house sales</a>
      <a href="#" class="list-group-item list-group-item-action">Diamond prices and carat regression</a>
      <a href="#" class="list-group-item list-group-item-action">Car prices</a>
    </div>

</div>

<div class="add-margin">
    <h1 class="text-secondary" >
        Sport datasets
    </h1>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-actions" >NBA rookie stats</a>
    </div>

</div>

<div class="add-margin">
    <h1 class="text-secondary" >
        Banking - Economy - Finance
    </h1>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-actions" >Banknote authentication</a>
      <a href="#" class="list-group-item list-group-item-action">Adult income dataset</a>
    </div>

</div>

{% endblock %}